/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/bootstrap.min.css
public/js/bootstrap.min.js
public/skin/*.png
.scribe/
resources/views/scribe/
public/vendor/scribe/
.vscode/
.idea/
!/auth.json
